  .main{
    float: left;
    width: 74%;
    font-weight: normal;
    border-radius: 4px;
    color: #fff;
    background: #1e2124 !important;
    margin-bottom: 15px;
    padding: 30px;
    font-size: 18px;
    font-family: sans-serif;
  }
  #main{
      background: #1e2124 !important;
  }
  .partner_box{
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 50px;
  }

  .partner-img{
    width: 150px;
  }

  .partner{
    width: 80%;
    min-height: 100px;
  }

  .sidebar_main{
    float: right; 
    width: 20%; 
    text-align: center;
  }

  a{
    text-decoration: none !important;
  }

  .legion_logo{
    float: right;
    width: 200px;
  }

  .site_container{
    border: 1px solid #1e2124;
    border-radius: 4px;
    background: #1e2124;
    box-shadow: 0 1px 0 #1e2124;
    color: #fff;
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
  }

  h1{
    font-size: 23px;
  }
  .news{
    float: left;
    margin: 15px 0;
    font-size: 17px;
  }

  b{
    font-weight: bold;
    color: #e53a28;
  }

  .rec_list{
    list-style-type: disc;
    list-style-position: inside;
  }

  .rec_img{
    height: 100px;
    margin-left: 18px;
  }
  .rec_cont{
    float: left;
    width: 16%;
    height: 132px;
    text-align: center;
  }
  .rec_text{
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-size: 19px;
    margin-left: 8px;

  }
  .start_a{
    color: #e53a28 !important;
  }
  .start_a:hover{
    color: #fff !important;
  }
