<link rel="stylesheet" href="https://lqqmpp.neuli.at/lqqmpp/css/style.css">

<div class="main">
	<div class="content2">
		<h1>Willkommen auf der Homepage der Gilde <b>Less QQ more PewPew</b></h1><img class="legion_logo" src="https://lqqmpp.neuli.at/lqqmpp/images/legion.png">
	
	<div class="news">
		Unser Raid sucht Verstärkung für HFC NHC/HC. Wir sind ein Casual Raid mit entspannter Atmosphäre.<br/>
		Gleichzeitig ist uns aber ein gewisses Vorankommen wichtig, sodass dennoch Wert auf Skill und Boss-Verständnis gelegt wird.<br/><br/>

		<b>Realm:</b> Un'Goro<br/>
		<b>Fraktion:</b> Horde<br/>
		<b>Gilde:</b> Less QQ More PewPew<br/>

		<b>Raidtage:</b> Mi./So. jeweils 19:45-23 Uhr<br/><br/>

		Wir erwarten:<br/>
		<ul>
			<li class="rec_list">Klassenkenntnis & Boss-Verständnis</li>
			<li class="rec_list">Kritikfähigkeit, Teamplay und angenehmes Wesen</li>
			<li class="rec_list">Pünktlichkeit und Zuverlässigkeit</li>
			<li class="rec_list">Als Voicechat verwenden wir Discord (<a class="start_a" href="https://discord.gg/0teFIqA9mgPzetYe" target="_blank">Link zum Voice</a>) einfach vorbeischauen</li>
		</ul>
		<br/>
		Bei Interesse für einen Testraid:<br/>
		Gemron#2366<br/><br/><br/>

		<h1><b>Aktuell suchen wir:</b></h1>
		<div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/todesritter-wod.png"><br/>
				<div class="rec_text" style="color: #c41f3b;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/deamon-hunter.png"><br/>
				<div class="rec_text" style="color: #4dd827;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/druide-wod.png"><br/>
				<div class="rec_text" style="color: #ff7d0a;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/jaeger-wod.png"><br/>
				<div class="rec_text" style="color: #abd473;">all specs</div> 
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/hexenmeister.png"><br/>
				<div class="rec_text" style="color: #9482c9;">all specs</div> 
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/krieger-draenor.png"><br/>
				<div class="rec_text" style="color: #c79c6e;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/magier-wod.png"><br/>
				<div class="rec_text" style="color: #69ccf0;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/monk-wod.png"><br/>
				<div class="rec_text" style="color: #33ffcc;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/paladin-wod.png"><br/>
				<div class="rec_text" style="color: #f58cba;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/priester-wod.png"><br/>
				<div class="rec_text" style="color: #ffffff;">all specs</div>
			</div>
			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/schamane-wod.png"><br/>
				<div class="rec_text" style="color: #0070de;">all specs</div>
			</div>

			<div class="rec_cont">
				<img class="rec_img" src="https://lqqmpp.neuli.at/lqqmpp/images/recruit/schurke-wod.png"><br/>
				<div class="rec_text" style="color: #fff569;">all specs</div>
			</div>
		</div>
	</div>
	</div>
	<script src="https://lqqmpp.neuli.at/lqqmpp/scripts/script.js"></script>
</div>

<section class="sidebar_main">
		<iframe src="https://discordapp.com/widget?id=160687564620169216&theme=dark" width="100%" height="860" allowtransparency="true" frameborder="0"></iframe>
	<div class="site_container">
		<h1>Links zur Gilde</h1>
			<a class="start_a" href="http://eu.battle.net/wow/de/guild/ungoro/Less%20QQ%20more%20PewPew/" target="_blank">Arsenal</a><br/>
			<a class="start_a" href="http://www.wowprogress.com/guild/eu/un-goro/Less+QQ+more+PewPew" target="_blank">WoW Progress</a><br/>
			<a class="start_a" href="https://www.warcraftlogs.com/guilds/9108/" target="_blank">Warcraftlogs</a><br/>
		</ul>
	</div>
</section>
<footer>
	<div class="partner">
		<div class="partner_box"><a href="http://www.mmo-champion.com" target="_blank"><img class="partner-img" src="https://lqqmpp.neuli.at/lqqmpp/images/mmo.png"></a></div>
		<div class="partner_box"><a href="http://www.wowhead.com" target="_blank"><img class="partner-img" src="https://lqqmpp.neuli.at/lqqmpp/images/wowhead.png"></a></div>
		<div class="partner_box"><a href="http://www.twitch.com" target="_blank"><img class="partner-img" src="https://lqqmpp.neuli.at/lqqmpp/images/twitchLogo.png"></a></div>
	</div>
</footer>